affine==2.3.0
argon2-cffi
asgiref 
async-generator==1.10
attrs
backcall 
backports.functools-lru-cache 
bleach 
brotlipy==0.7.0
certifi==2020.12.5
cffi 
chardet
click==7.1.2
click-plugins==1.1.1
cligj
colorama 
contextily 
cryptography 
cycler==0.10.0
decorator 
defusedxml
Django
entrypoints 
Fiona==1.8.18
Flask==1.1.2
Flask-Images==3.0.2
Flask-MySQLdb==0.2.0
Flask-SQLAlchemy==2.5.1
GDAL==3.1.4
geographiclib==1.50
geopandas
geopy 
greenlet==1.0.0
idna 
importlib-metadata 
ipykernel 
ipython 
ipython-genutils==0.2.0
ipywidgets 
itsdangerous==1.1.0
jedi 
Jinja2
joblib 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
kiwisolver 
MarkupSafe 
matplotlib 
mercantile 
mistune 
munch==2.5.0
mysqlclient==2.0.3
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numpy 
olefile 
packaging 
pandas
pandocfilters==1.4.2
parso 
pickleshare 
PIL==1.1.7
Pillow 
pillowcase==2.0.0
prometheus-client 
prompt-toolkit 
pycparser 
Pygments 
pymssql==2.2.0
pyodbc 
pyOpenSSL 
pyparsing==2.4.7
pyproj 
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent 
PySocks 
python-dateutil==2.8.1
pytz 
pywin32==300
pywinpty 
pyzmq 
qtconsole 
QtPy==1.9.0
rasterio==1.2.1
requests 
Rtree
scipy==1.6.2
seaborn==0.11.1
Send2Trash==1.5.0
Shapely==1.7.1
six 
snuggs==1.4.7
SQLAlchemy==1.4.10
sqlparse 
terminado 
testpath==0.4.4
tornado 
traitlets 
typing-extensions 
urllib3
wcwidth 
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension 
win-inet-pton 
wincertstore==0.2
zipp 