<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>





  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

  <title>Graph Example</title>

</head>

<body class="gg">

  <div class="container-fluid jumbotron">
    <div class="row">
      <div class="col-md-6">
        <canvas id="chart_pd"></canvas>
      </div>
      <div class="col-md-6">
        <canvas id="myChart"></canvas>
      </div>
      <div class="col-md-6">
        <canvas id="chart_fornitore"></canvas>
      </div>
    </div>
  </div>






  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script>
    var ctx_chart_pd = document.getElementById('chart_pd').getContext('2d');
    var ctx_myChart = document.getElementById('myChart').getContext('2d');

    var chart = new Chart(ctx_myChart, {
      type: 'bar',
      data: {
        labels: {{ labels | safe}},
    datasets: [{
      label: "My First dataset",
      backgroundColor: 'orange',
      borderColor: 'black',
      data: {{ values | safe}},
                }]
            },
    options: {
      
      responsive: true
    }
  });

    const labels_aree = {{ area | safe}};
    const data_maschi_femmine = {
      labels: labels_aree,
      datasets: [
        {
          label: 'maschi',
          data: {{ maschi }},
      backgroundColor: "#add8e6",
      
    },
    {
      label: 'femmine',
        data: {{ femmine }},
      backgroundColor: "pink",
      
    }
  ]
};
    var chart = new Chart(ctx_chart_pd, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: data_maschi_femmine,
      // Configuration options go here
      options: {
        responsive: true
      }
    });

    const labels_fornitori = {{fornitore | safe}}
    const data_tot_fornitori = {
      labels: labels_fornitori,
      datasets: [
        {
          label: 'Dataset 1',
          data: {{totale_fornitore | safe}},
          backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      'rgb(46, 204, 113)',
    ],
          
        }
      ]
    };

    var chart = new Chart(chart_fornitore, {
      // The type of chart we want to create
      type: 'doughnut',

      // The data for our dataset
      data: data_tot_fornitori,
      // Configuration options go here
      options: {
        responsive: true
      }
    });





  </script>

</body>

</html>